.btns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 10px;
}
.mat-con {
    padding: 5px;
}
.btns-container button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: pink;
}

/* .my-link {
    text-decoration: none;
    color: green;
} */

.input-section {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    border: none;
    outline: none;
    cursor: pointer;
}
.column-div {
    column-gap: 5px;
    margin-top: 5px;
}
/* .matrix-container {
    margin-top: 20px;
} */
/* .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
} */
/* .btn-container button {
    outline: none;
    border: none;
    padding: 10px;
} */
